
@{
    Layout = "~/Views/Shared/_TopMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div style="margin-top:130px;">
        <!--================Our Bakery Area =================-->
        <section class="our_bakery_area p_100">
            <div class="container">
                <div class="our_bakery_text">
                    <h2>关于Sweet Cake</h2>
                    <h6>始于2021年，Sweet Cake专注于甜点和配方蛋糕的传承与创新，我们致力于用高品质原料和食材，创造经得起时间与味蕾推敲的味道。</h6>
                    <p>
                        尝在口中甜在心里，专注健康我们秉承无添加，原生态的健康烘焙理念，采用传统结合现代的烘焙工艺。坚持用最天然、最原始、最简单的原材料来制作高品质的新一代健康烘焙食品，用心烘焙。
                        用“心”制作每一份甜蜜，品味甜蜜生活，感受幸福味道，心得烘焙的蛋糕、用心烘焙的蛋糕做最健康、最放心的食品。
                        我们始终把健康、营养放第一位，坚持用最简单最原生态的食材搭配，传统的手工技艺来制造美味的烘焙食品，希望能带给您不一样的烘焙食品，真诚期待您的品尝。
                    </p>
                </div>
                <div class="row our_bakery_image">
                    <div class="col-md-4 col-6">
                        <img class="img-fluid" src="img/our-bakery/bakery-1.jpg" alt="">
                    </div>
                    <div class="col-md-4 col-6">
                        <img class="img-fluid" src="img/our-bakery/bakery-2.jpg" alt="">
                    </div>
                    <div class="col-md-4 col-6">
                        <img class="img-fluid" src="img/our-bakery/bakery-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!--================End Our Bakery Area =================-->
        <!--================Bakery Video Area =================-->
        <section class="bakery_video_area">
            <div class="container">
                <div class="video_inner">
                    <h3>最好的味道</h3>
                    <p>为爱人送上一份甜蜜吧！为亲人送上一份温暖吧！为朋友送上一份惊喜吧！为孩子送上一份喜悦吧!</p>
                    <div class="media">
                        <div class="d-flex">
                            <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="flaticon-play-button"></i></a>
                        </div>
                        <div class="media-body">
                            <h5>视频观看 <br />关于我们</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Bakery Video Area =================-->
       
        <!--================End Client Says Area =================-->
        <section class="our_chef_area p_100">
            <div class="container">
                <div class="row our_chef_inner">
                    <div class="col-lg-3">
                        <div class="chef_text_item">
                            <div class="main_title">
                                <h2>我们的团队</h2>
                                <p>梦想打造一个完美的团队</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="chef_item">
                            <div class="chef_img">
                                <img class="img-fluid" src="~/static/img/chef/chef-1.jpg" alt="">
                            </div>
                            <a href="#"><h4>唐某某</h4></a>
                            <h5>团队主力</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="chef_item">
                            <div class="chef_img">
                                <img class="img-fluid" src="~/static/img/chef/chef-2.jpg" alt="">
                            </div>
                            <a href="#"><h4>龚某某</h4></a>
                            <h5>团队想法</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="chef_item">
                            <div class="chef_img">
                                <img class="img-fluid" src="~/static/img/chef/chef-3.jpg" alt="">
                            </div>
                            <a href="#"><h4>张某某</h4></a>
                            <h5>团队销售</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Client Says Area =================-->
       
    </div>
</body>
</html>
