@{
    Layout = "~/Views/Shared/_Behind.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div id="app" class="content-body">
        <br />
        <div style="margin-left:20px;">
            <el-input v-model="input" placeholder="请输入" style="width:200px"></el-input>
            <el-button type="primary" v-on:click="Search()">查询</el-button>
        </div>
        <!-- row -->
        <el-table :data="tableData"
                  style="width: 100%;margin-left:20px;margin-top:30px;">
            <el-table-column prop="uid"
                             label="编号"
                             width="180">
            </el-table-column>
            <el-table-column prop="uaccount"
                             label="名称"
                             width="180">
            </el-table-column>
            <el-table-column prop="uimage"
                             label="图片"
                             width="180">
                <template slot-scope="scope">
                    <img :src="Baseimg+scope.row.uimage" width="100" height="100" />
                </template>
            </el-table-column>
            <el-table-column prop="uphone"
                             label="电话号码"
                             width="180">
            </el-table-column>
            <el-table-column prop="uemail"
                             label="邮箱"
                             width="180">
            </el-table-column>
            @*<el-table-column label="操作"
                             width="180">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="danger"
                               v-on:click="handleDelete(scope.row)">删除</el-button>
                </template>
            </el-table-column>*@
        </el-table>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="~/element-ui/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var Main = {
            data() {
                return {
                    tableData: [],
                    Baseimg: "https://tcr-1308226713.cos.ap-guangzhou.myqcloud.com/Picture/",
                    input: "",


                }
            },
            created() {
                this.GetAllUsers();

            },
            methods: {
                async GetAllUsers() {
                    const { data: res } = await axios.get("/Admins/GetAllUsers");
                    console.log(res);
                    this.tableData = res;
                },
                //查询
                async Search() {
                    const { data: res } = await axios.post("/Admins/SearchesUsers", { name: this.input });
                    if (res == "无") {
                        alert("暂无此用户！")
                    } else {

                        this.tableData = res;
                    }
                },
                
            }

        }

        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    </script>

    <script src="~/behind/js/global.min.js"></script>
    <script src="~/behind/js/jquery.nice-select.min.js"></script>

    <script src="~/behind/js/Chart.bundle.min.js"></script>

    <script src="~/behind/js/owl.carousel.js"></script>
    <script src="~/behind/js/custom.min.js"></script>
    <script src="~/behind/js/dlabnav-init.js"></script>
    <script src="~/behind/js/styleSwitcher.js"></script>



</body>
</html>
